@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    font-family: "Rethink Sans", sans-serif;
    font-family: "DM Sans", sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



.header{

    width: 100vw;
    height: 20vh;
    position: sticky;
    /* position: relative; */
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: space-around;
    justify-content: space-evenly;
    justify-content: flex-end; */
    align-items: center;
    z-index: 10;
    .headarfondo {
        width: 100vw;
        height: 20vh;
        opacity: 0.9;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    /* .divmenu{ */
    div{    
        /* z-index: 10; */
        nav{
            /* width: 65vh; */
            margin: 0 30px;
            ul{
                list-style: none;
                
                /* display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                
                justify-content:flex-end ;
                justify-items: center;
                align-content: center; */
                li{
                    display: inline-block;
                    margin-right: 15px;
                    /* width: 100px; */
                    /* height: 1.8em; */
                    /* border: 0px solid #510d1b;
                    border-radius: 15px; */
                    /* background-color: #fae318; */
                    /* background: linear-gradient(180deg,#fae318 85%, #000000 100%); */
                    text-align: center;
    
                    a{
                        text-decoration: none;
                        color: rgb(53, 49, 1);
                        font-size: 1.3em;
                    }
    
                }
            }
        }

    }

}

.main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: relative;
    z-index: 5;
    
    .principal{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100vw;
        height: 50vh;
        color: antiquewhite;
        background-image: url(../assets/img/allfondo.jpg);


        h1{
            color: #ccc01a;
            font-size: 11vh;
            font-weight: bold;
            text-align: center;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 65vh;
            height: 25vh;
            margin: 0 auto;
            border: 10px double #510d1b;
            backdrop-filter: blur(15px);
            text-align: center;
            a{
                text-decoration: none;
                font-size: 2rem;
                color: salmon;
                border: 3px solid #ccc01a;
            }
        }

    }

    .productos{
        width: 100vw;
        background-image: url(../assets/img/pos_backgroung_dark.png);
        background-size: cover;
        padding: 15px;
        font-family: "Rethink Sans", sans-serif;

        .product{
            display: grid;
            grid-template-rows: 36px auto;
            grid-column: auto auto;
            grid-template-areas: "img h3"
                                 "img p";
            h3{
                padding-left: 10px;
                border: #ccc01a 3px solid;
                grid-area:h3;
                color: aqua;

            }
            img{
                width: 150px;
                grid-area: img;
                border: #ccc01a 3px solid;
            }
            p{
                padding-left: 10px;
                border: #ccc01a 3px solid;
                grid-area: p;
                a{
                    text-decoration: none;
                    color: aqua;
                }
            }
       

          
        }
        h2{
            color: #7a080e;
            a{
                text-decoration: none;
                color: aqua;
            }
        }
        div{
            margin: 10px;
        }
    }
}

.maingaleria{
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: relative;
    z-index: 5;
    

    .galeria{
        width: 100vw;
        background-image: url(../assets/img/pos_backgroung_dark.png);
        background-size: cover;
        padding: 15px;
        font-family: "Rethink Sans", sans-serif;

        .product{
            /* display: grid;
            grid-template-rows: 36px auto;
            grid-column: auto auto;
            grid-template-areas: "img h3"
                                 "img p"; */
            h3{
                padding-left: 10px;
                border: #ccc01a 3px solid;
                grid-area:h3;
                color: aqua;

            }
            img{
                width: 150px;
                grid-area: img;
                border: #ccc01a 3px solid;
            }
           
       

          
        }
        h2{
            color: #7a080e;
            a{
                text-decoration: none;
                color: aqua;
            }
        }
        div{
            margin: 10px;
        }
    }
}


.headergaleria{
    display: inline-block;
    width: 100vw;
    height: 20vh;
    position: sticky;
    top: 0;
    z-index: 10;
    .gheader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .headarfondo {
            width: 100vw;
            height: 20vh;
            opacity: 0.9;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        div{    
            nav{
                
                margin: 0 30px;
                ul{
                    list-style: none;
                    li{
                        display: inline-block;
                        margin-right: 15px;
                        text-align: center;
                        a{
                            text-decoration: none;
                            color: rgb(53, 49, 1);
                            font-size: 1.3em;
                        }
                    }
                }
            }
        }
    }
    .subheader{
        
        h2{
            position: absolute;
            z-index: 10;
            top: 70px;
            left: 70px;
            a{
                font-size: 0.8em;
                text-decoration: none;
                color: rgb(0, 0, 0);
                background: linear-gradient(180deg,#e7d910 90%, #392717 100%);
                border-radius: 25px;
            }
        }
    }

}

.logo{
    /* width:auto; */
    height: 10vh;
    /* display: inline-block; */
    z-index: 10;
}






.footer{
    background-color: rgb(60, 59, 68);
    color: aliceblue;
    height: 55vh;
    width: 100vw;
    text-align: center;
    display: inline-flex;
    justify-content: space-between;
    /* position: relative; */

    section{
        margin-top: 2%;
                width: calc((100%-20px) / 4);

        nav{
            ul{
                list-style: none;
                li{
                    
                    a{
                        text-decoration: none;
                        color: aliceblue;
                        font-size: 1.3em;
                    }
                }
            }
        }

    }

    .fa-brands{
        font-size: 3em;
    }

    .fa-facebook{
        color: #3b5998;
    }
    .fa-instagram{  
        color: #e4405f;
    }
    .fa-youtube{
        color: #c4302b;
    }

    .fa-whatsapp{
        color: rgb(117, 228, 117);
        position: fixed;
        bottom: 75px;
        right: 10px;
        z-index: 15;
    }
    .up{
        height: 2.8em;
        position: fixed;
        bottom: 20px;
        right: 0px;
        z-index: 15;
    }


}





